<div class="bs-component">
      <button type="button" class="btn btn-default" (click)="getBlockchain()">
        <i class="navbar-toggler-icon fa fa-refresh"> </i>
      </button>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Index</th>
              <th scope="col">Timestamp</th>
              <th scope="col">Data</th>
              <th scope="col">Hash</th>
              <th scope="col">Previous Hash</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let block of blockchain">
              <th scope="row">{{ block.index }}</th>
              <td>{{ block.timestamp }}</td>
              <td>{{ block.data  | json }}</td>
              <td>{{ block.hash }}</td>
              <td>{{ block.previousHash }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>