<div class="bs-component">
      <button type="button" class="btn btn-default" (click)="getPeers()">
        <i class="navbar-toggler-icon fa fa-refresh"> </i>
      </button>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Peer Name</th>
              <th scope="col">IP Address</th>
              <th scope="col">Port</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let peer of peers">
              <th scope="row">{{ peer }}</th>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>